* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #681111;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 5px;
    border: 2px solid white;
    width:90%;
    background-color: rgb(255, 202, 133);
    color: #681111;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 5px;
    border: 2px solid white;
    width: 90%;
    background-color: rgb(255, 202, 133);
    color:#681111
}

.nav ul {
    display: flex;
    flex-direction: row;
    }

.nav ul li {
    display: flex;
    padding-left:30px;
    padding-right:30px;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 5px;
    border: 2px solid white;
    width: 90%;
    background-color: rgb(255, 202, 133);
    color:#681111;
}

.about-section p {
    display: flex;
    align-content: center;
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 5px;
    border: 2px solid white;
    width: 90%;
    background-color: rgb(255, 202, 133);
    color:#681111;
}

.portfolio-section h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-section ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid black; */
}

.first-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid #681111;
    margin: 20px;
    padding: 10px

}

.first-example img {
    display: flex;
    height: 400px;
    width: 400px;
    object-fit: cover;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.portfolio-section ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    object-fit: cover;
    border: 2px solid #681111;
    margin: 20px;
    padding: 10px
 }

 .portfolio-section ul li img {
    display: flex;
    width: 200px;
    height:200 px;
    object-fit: cover;
    padding: 10px;
 }

 .overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #681111;
    color: white;

 }

 .footer {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 5px;
    border: 2px solid white;
    width: 90%;
    background-color: rgb(255, 202, 133);
    color:#681111
 }

 .footer ul {
    display: flex;
    flex-direction: row;
 }

 .footer ul li {
    display: flex;
    padding-left:30px;
    padding-right:30px;
 }

 @media screen and (max-width: 650px) {

    .gallery {
        flex-direction: column;
    }

    .footer ul {
        flex-direction: column;
    }
    .about-section{
        font-size:1vw;
    }
 }